# 2026-06-19 19:50:13 by RouterOS 7.14.3
# software id = TWIQ-YM3K
#
/disk
set slot1 slot=slot1
set slot2 slot=slot2
set slot3 slot=slot3
set slot4 slot=slot4
set slot5 slot=slot5
/interface ethernet
set [ find default-name=ether1 ] disable-running-check=no
set [ find default-name=ether2 ] disable-running-check=no
set [ find default-name=ether3 ] disable-running-check=no
set [ find default-name=ether4 ] disable-running-check=no
set [ find default-name=ether5 ] disable-running-check=no
/port
set 0 name=serial0
/routing bgp template
add as=64626 name=default router-id=10.0.0.6
/ip settings
set max-neighbor-entries=4096
/ipv6 settings
set max-neighbor-entries=2048
/ip address
add address=10.10.10.6/24 interface=ether1 network=10.10.10.0
add address=10.0.0.6 interface=lo network=10.0.0.6
/routing bgp connection
add local.role=ebgp name=RS remote.address=10.10.10.100 .as=64620 templates=\
    default
/system identity
set name=C2-Mikrotik-64626
/system note
set show-at-login=no
