# 2026-06-19 19:53:28 by RouterOS 7.14.3
# software id = TWIQ-YM3K
#
/disk
set slot1 slot=slot1
set slot2 slot=slot2
set slot3 slot=slot3
set slot4 slot=slot4
/interface ethernet
set [ find default-name=ether5 ] disable-running-check=no name=ether1
set [ find default-name=ether1 ] disable-running-check=no name=ether2
set [ find default-name=ether2 ] disable-running-check=no name=ether3
set [ find default-name=ether3 ] disable-running-check=no name=ether4
set [ find default-name=ether4 ] disable-running-check=no name=ether5
/port
set 0 name=serial0
/routing bgp template
add as=13335 name=default router-id=1.1.1.1
/ip settings
set max-neighbor-entries=4096
/ipv6 settings
set max-neighbor-entries=2048
/ip address
add address=10.10.10.12/24 interface=ether1 network=10.10.10.0
add address=1.1.1.1 interface=lo network=1.1.1.1
/ip firewall address-list
add address=1.1.1.1 list=BGP-NETWORK
/routing bgp connection
add local.role=ebgp name=RS output.network=BGP-NETWORK remote.address=\
    10.10.10.100 .as=64620 templates=default
/system identity
set name=Cloudflare-AS13335
/system note
set show-at-login=no
